@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .hard-shadow-10px {
        box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 0px -2px rgba(0,0,0,0.75);
    }

    .hard-shadow-6px {
        box-shadow: 6px 6px 0px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 6px 6px 0px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 0px -2px rgba(0,0,0,0.75);
    }

    body { background-color: #e2ddd5; }
    .project-excerpt { @apply mt-4; }
    .project-excerpt div, .project-excerpt p { display: inline; }
    .project-content .project-excerpt a { display: none !important; }

    article section a { @apply underline hover:opacity-60; }
    article section p { @apply mt-4 mb-6 lg:mb-8; }
    .index-page, article { @apply pb-16 pl-4 pr-4 lg:pl-8 lg:pr-8; }

    .content-bg { background-color: #F2EEE7; @apply hard-shadow-10px; }

    .divider {
        background: url("images/divider.webp");
        background-repeat: repeat-x;
        background-position: center;
        background-size: contain;
    }
}

h2.wp-block-heading {
    @apply text-3xl font-bold mb-6;
}

.wp-block-column p {
    @apply mb-4;
}